<title>SoliServ- Cadastrar Lotação</title>

{% extends 'Orgao/index.html' %}
{% block titulo %}
Cadastro de Lotação
{% endblock titulo %}
{% load staticfiles %}
{% block centroOrgao %}


<form method="POST" class="container">
    {% csrf_token %}
   <div class=" mt-1">
        <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="idTipoLotacao">Tipo Lotação:</label>
                    <select class="custom-select" id="idTipoLotacao" style="width: 100%" name="idTipoLotacao">
                        <option>----</option>
                        {% for tipo in tipoLotacao %}
                        <option value="{{tipo.pk}}" {% if tipo.pk == formEdit.idTipoLotacao.id %} selected="selected"
                            {% endif %}>
                            0{{tipo.pk}} - {{ tipo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-10">
                    <label for="idUsuario">Usuário:</label>
                    <select class="form-control" id="idUsuario"  style="width: 100%" name="idUsuario">
                        <option>----</option>
                        {% for user in idUsuario %}
                        <option value="{{user.pk}}" {% if user.pk == formEdit.idUsuario %} selected="selected" {% endif %}>
                            0{{user.pk}} - {{ user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-10">
                    <label for="idOrgao">Nome do órgão:</label>
                    <select class="form-control" id="idOrgao" name="idOrgao">
                        {% for orgao in idOrgao %}
                        <option value="{{orgao.pk}}" {% if orgao.pk == formEdit.idOrgao %} selected="selected" {% endif %}>
                            {{orgao.pk}} - {{ orgao.nomeOrgao}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-10">
                    <label for=" observacao">Observação:</label>
                    <input type="text" class="form-control" id=" observacao" name="observacao" placeholder="Observação"
                        required>
                </div>
            </div>

   </div>
    {% if form.errors %}
    <p class="container text-center alert alert-danger mt-3">Dados inseridos de forma incorreta, verifique os campos e
        tente novamente!</p>
    {% endif %}
    <input type="submit"  class="btn bg-gradient-primary text-white  mb-3" title="Cadastrar Lotação"
        value="Cadastrar Lotação">
    <a class="btn bg-gradient-primary text-white mb-3" href="{% url 'Orgao:lista_lotacao'%}" 
        title="Voltar a Lista de Lotações"><i class="material-icons">undo</i></a>

</form>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.js' %}"></script> 
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#idUsuario').select2();
        $('#idTipoLotacao').select2();
        
    });
   
</script>
{% endblock %}