<title>SoliServ-Excluir Tipo Lotação</title>
{% extends 'sistemaDeGestaoDeServicosPublicos/index1.html' %}
{% block titulo %}
Remover Lotação
{% endblock titulo %}
{% block centro %}
{% block centroOrgao %}
<div class="container text-center mt-5">
    <form method="post">{% csrf_token %}
      
        <h6 class="alert alert-danger">Tem certeza que deseja remover a lotação de  "{{ object }}"?</h6>
        <input type="submit" class="btn bg-gradient-danger text-white mt-3" value="Confirmar">
    </form>
</div>
{% endblock %}
{% endblock%}