<title>SoliServ- Tipos de Lotacao</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Lista de Lotações
{% endblock titulo %}
{% block centro %}
<main id="Orgao" class="container border">
    <div class="container">
        {% block centroOrgao %}
        <form style="overflow-x: auto;">
            {% if lotacao_list %}
            <table class="table border mt-3">
                <tr> 
                    <th>DESCRIÇÃO DA LOTAÇÃO</th>
                    <th>USUÁRIO</th>
                    <th>ÓRGÃO</th>
                    <th>OBSERVACAO</th>
                    <th>AÇÃO</th>
                </tr>
                {% for lotacao in lotacao_list %}
                <tr style="text-transform: uppercase">
                    <td>
                        <a>
                            {{lotacao.idTipoLotacao.descricao}}
                        </a>
                    </td>
                    <td>{{lotacao.idUsuario.first_name}}</td>
                    <td>{{lotacao.idOrgao.nomeOrgao}}</td>
                    <td>{{lotacao.observacao}}</td>
                    <td>
                            <a  href="{% url 'Orgao:lotacao_atualizar' lotacao.id %}" class="bg-gradient-primary text-white btn-circle"title="Editar Lotação">
                                <i class="fas fa-edit"></i>
                            </a>
                        <a  href="{% url 'Orgao:lotacao_deletar' lotacao.id %}" class="bg-gradient-danger text-white btn-circle"title="Excluir Lotação">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <div class="alert alert-danger mt-3">
                    Não há Dados Cadastrados!
                </div>
                {% endif %}
            </table>
        </form>
        <nav aria-label="text-left pagination  ">
            <ul class="pagination ">
                {% if lotacao_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" href="?page=1" title="Primeira Página">&laquo;
                        Primeira
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" title="Página Anterior"
                        href="?page={{lotacao_list.previous_page_number }}">
                        Anterior
                    </a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Página {{ lotacao_list.number }} de
                        {{ lotacao_list.paginator.num_pages }}
                    </a>
                </li>
                {% if lotacao_list.has_next %}
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" title="Próxima Página"
                        href="?page={{ lotacao_list.next_page_number }}">
                        Próxima
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" title="Ultima Página" style=" color: #4613ac;"
                        href="?page={{lotacao_list.paginator.num_pages }}">
                        Última &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <a class="btn  mb-3  bg-gradient-primary text-white"  href="{% url 'Orgao:cadastro_Lotacao'%}"
            title="cadastrar nova Lotação">
            Cadastrar nova Lotação
        </a>
        <a class="btn  mb-3  bg-gradient-primary text-white"  href="{% url 'Orgao:orgao_index'%}"
            title="Voltar a HomePage">
            <i class="material-icons">home</i>
        </a>
</main>
{% endblock %}
</div>
{% endblock %}