<title>SoliServ-Meus Chamados</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Meus Chamados
{% endblock titulo %}
{% block centro %}
{% if user.is_authenticated %}
<form>
    <div>
        <div>
            <div class="card-body">
                {% if chamados_list %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>NÚMERO DO PROTOCOLO</th>
                                <th>DATA DE ABERTURA</th>
                                <th>ÚLTIMA MODIFICAÇÃO</th>
                                <th>TIPO DO CHAMADO</th>
                                <th>ENDEREÇO</th>
                                <th>SITUAÇÃO</th>
                                <th>AÇÃO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chamado in chamados_list %}
                            <tr>
                                <td>{{chamado.numeroProtocolo}}</td>
                                <td>{{chamado.dataAbertura}}</td>
                                {% if chamado.dataConclusao != chamado.dataAbertura %}
                                <td>{{chamado.dataConclusao}}</td>
                                {% else %}
                                <td>{{chamado.dataAbertura}}</td>
                                {% endif %}
                                <td>{{chamado.idTipoChamado.descricaoTipoChamado}}</td>
                                <td>{{chamado.idEndereco}}</td>
                                {% if chamado.idStatus.pk == 1  %}
                                <td class="text-center align-middle"><small class="badge badge-info">{{chamado.idStatus.descricao}}</small></td>
                                {% elif chamado.idStatus.pk == 3  %}
                                <td class="text-center align-middle"> <small class="badge badge-warning">{{chamado.idStatus.descricao}}</small></td>
                                {% elif chamado.idStatus.pk == 2 %}
                                <td class="text-center align-middle"> <small class="badge badge-success">{{chamado.idStatus.descricao}} </small></td>
                                {% endif %}
                                <td>
                                   <div class="text-center align-middle">
                                        {% if chamado.idStatus.pk == 1 %}
                                    <a class="bg-gradient-primary btn-circle text-white"
                                        href="{% url 'Chamados:atualiza_chamado' chamado.id %}" title="Editar Chamado">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    {% else %}

                                    {% endif %}
                                    <a class="bg-gradient-primary btn-circle text-white"
                                        href="{% url 'Chamados:chamado_detalhado' chamado.id %}"
                                        title="Detalhes do Chamado">
                                        <i class="material-icons">search</i></a>
                                   </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class=" mt-1" style="color: #4613ac;"> Obs: Algumas informações cadastradas, são ocultadas para
                        facilitar a
                        compreensão.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn  ml-2 mb-3 mt-3 bg-gradient-primary text-white"
        href="{% url 'Chamados:cadastro_chamado' %}" title="Cadastrar Chamado">Cadastrar
        Novo Chamado
    </a>
    <a class="btn mb-3 mt-3 bg-gradient-primary text-white"
        href="{% url 'Chamados:lista_chamado' user.id %}" title="Voltar a Lista de Chamados">
        <i class="material-icons">undo</i>
    </a>
    {% else %}
    <p class="alert alert-danger  text-center">{{user.first_name }}, você não possui chamados cadastrados!</p>
    <a class="btn  ml-2 mb-3 mt-3 bg-gradient-primary text-white"
        href="{% url 'Chamados:cadastro_chamado' %}" title="Cadastrar Chamado">Cadastrar
        Novo Chamado
    </a>
    <a class="btn mb-3 mt-3 bg-gradient-primary text-white"
        href="{% url 'Chamados:lista_chamado' user.id %}" title="Voltar a Lista de Chamados">
        <i class="material-icons">undo</i>
    </a>
</form>
{% endif %}
{% endif %}

{% endblock %}