<title>SoliServ-Meus Chamados</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block centro %}
{% if user.is_authenticated %}
{% if chamados_list %}
<script type="text/javascript">
    function termoPesquisado() {
        httpRequest = new XMLHttpRequest();
        if (document.getElementById("texttarget").value === "") {
            document.getElementById("texttarget").disabled == true;
        }
        else {
            document.getElementById("texttarget").disabled == false;
            var texto = $('#texttarget').val();
            window.location.href = '../ajax-search/' + texto
            console.log(httpRequest);
            httpRequest.send(null);
        }
    }
</script>
<style>
    #btn-filtros {
        background: #4613ac;
        color: white;
    }

    #btn-filtros:hover {
        color: #4613ac;
        background: white;
        border-style: solid;
        border-color: #4613ac;
    }
</style>
<div class="mt-3 container text-center ">
    <p style="color: #4613ac; font-size: 30px;">Meus Chamados</p>
</div>

<form>
    <div class="form-row">
        <div class="form-group w-50">
            <input id="texttarget" class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar Item"
                aria-label="Pesquisar">
        </div>
        <a class="btn ml-2 mb-4" title="Pesquisar Intem" onclick="termoPesquisado()" id="btn-filtros">Pesquisar</a>

    </div>
    <div class="form-row">
        <a href="{% url 'Chamados:lista_chamado' user.id %}" class=" btn ml-2 mb-4" id="btn-filtros"
            title="Todos os Chamados">
            Todos Os Chamados
        </a>
        <a href="{% url 'Chamados:filtrar_chamados' user.id 1 %}" class=" btn ml-2 mb-4" id="btn-filtros"
            title="Filtrar por Chamados Em aberto">
            Abertos
        </a>
        <a href="{% url 'Chamados:filtrar_chamados' user.id 3%}" class="btn ml-2 mb-4" id="btn-filtros"
            title="Filtrar por Chamados Em Andamento">
            Andamento
        </a>
        <a href="{% url 'Chamados:filtrar_chamados' user.id 2 %}" class="btn ml-2 mb-4" id="btn-filtros"
            title="Filtrar por Chamados Concluídos">
            Concluídos
        </a>
    </div>
    <div class="section-2" style="overflow-x: auto;">
        <div  class="w-100 mt-3 mb-3 table-holder rounded shadow-sm">
            <table id="tabela">
                <tr>
                    <th>NÚMERO DO PROTOCOLO</th>
                    <th>DATA DE ABERTURA</th>
                    <th>TIPO DO CHAMADO</th>
                    <th>ENDEREÇO</th>
                    <th>STATUS</th>
                    <th>AÇÃO</th>
                </tr>
                {% for chamado in chamados_list %}
                <tr>
                    <td>{{chamado.numeroProtocolo}}</td>
                    <td>{{chamado.dataAbertura}}</td>
                    <td>{{chamado.idTipoChamado.descricaoTipoChamado}}</td>
                    <td>{{chamado.idEndereco}}</td>
                    {% if chamado.idStatus.pk == 1  %}
                    <td style="color: green">{{chamado.idStatus.descricao}}</td>
                    {% elif chamado.idStatus.pk == 3  %}
                    <td style="color: yellow">{{chamado.idStatus.descricao}}</td>
                    {% elif chamado.idStatus.pk == 2 %}
                    <td style="color: red">{{chamado.idStatus.descricao}}</td>
                    {% endif %}
                    <td>
                        {% if chamado.idStatus.pk == 1 %}
                        <a class="btn mb-3" style="background: #4613ac; color: white;"
                            href="{% url 'Chamados:atualiza_chamado' chamado.id %}" title="Editar Chamado">
                            <i class="material-icons">edit</i></a>
                        {% else %}

                        {% endif %}
                        <a class="btn" style="background: #4613ac; color: white;" href="#" title="Detalhes do Chamado">
                            <i class="material-icons">search</i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p class=" mt-1" style="color: #4613ac;"> Obs: Algumas informações cadastradas, são ocultadas para facilitar
                a
                compreensão.</p>
        </div>
    </div>
</form>
<nav aria-label="text-left pagination  ">
    <ul class="pagination ">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" style=" color: #4613ac;" href="?page=1" title="Primeira Página">&laquo;
                Primeira
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" style=" color: #4613ac;" title="Página Anterior"
                href="?page={{ page_obj.previous_page_number }}">
                Anterior
            </a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" style=" color: #4613ac;" title="Próxima Página"
                href="?page={{ page_obj.next_page_number }}">
                Próxima
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" title="Ultima Página" style=" color: #4613ac;"
                href="?page={{page_obj.paginator.num_pages }}">
                Última &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;"
    href="{% url 'Chamados:cadastro_chamado' %}" title="Cadastrar Chamados">Cadastrar
    Novo Chamado
</a>
<a class="btn" href="{% url 'Chamados:lista_chamado' user.id %}" style="background: #4613ac; color: white;"
    title="Lista de Chamados"><i class="material-icons">list</i></a>
{% else %}
<div class="text-center">
    <div class="mt-3 container text-center ">
        <p style="color: #4613ac; font-size: 30px;">Meus Chamados</p>
    </div>


    <div class="container text-center mt-5">
        <div class="alert alert-danger mt-5">
            {{ user.first_name }}, Você não possui nenhum chamado com esse filtro!
        </div>
        <a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;"
            href="{% url 'Chamados:cadastro_chamado' %}" title="Cadastrar Chamado">Cadastrar
            Novo Chamado
        </a>
        <a class="btn mb-3 mt-3" style="background-color: #4613ac; color: white;"
            href="{% url 'Chamados:lista_chamado' user.id %}" title="Voltar a Lista de Chamados">
            <i class="material-icons">undo</i>
        </a>

    </div>

</div>
{% endif %}
{% endif %}

{% endblock %}
<!--
{% block scripts %}
{{ block.super }}
<script>
$(document).ready( function () {
    $('#tabela').DataTable();
} );
</script>
{% endblock %}

-->