<title>SoliServ-Atualizar Cadastro</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block titulo %}
Atualizar Meus Dados
{% endblock%}
{% block centro %}
<div class="container">
    <form method="POST">
        <div class="col">
            <div class="form-group align-right">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            {% if form.errors %}
            teste
            {% endif%}
            <input class="btn bg-gradient-primary text-white"type="submit" title="atualizar Dados" value="Atualizar">
        </div>
    </form>
</div>
{% endblock%}