{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block title %}
<title>Atualizar Cadastro</title>
{% endblock%}

{% block centro %}
<div class="container">
    <div class="">
        <h3 class="text-center mt-3">Meus dados</h3>
    </div>
    
    <form method="POST">
        <div class="col">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" style="background-color: #4613ac; color: white;" type="submit" value="Atualizar">
            <!---<input type="submit" value="Enviar">-->
        </div>
        
    </form>
</div>
{% endblock%}