<title>Cadastrar Usuário</title>
{% extends 'sistemaDeGestaoDeServicosPublicos/paginaLogin.html' %}
{% block centro %}
<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crie Sua Conta!</h1>
            </div>
            <form method="POST" class="user">
              {% csrf_token %}
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="first_name" name="first_name"
                    placeholder="Nome">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="last_name" name="last_name"
                    placeholder="Sobrenome">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="username" name="username"
                  placeholder="Endereço de e-mail">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="password1" name="password1"
                    placeholder="Senha">
                  <div class=" mt-1 container">
                    <i id="olho" title="mostrar Senha" class="fas fa-eye-slash text-primary"></i>

                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user mb-1" id="password2" name="password2"
                    placeholder="Repita a Senha">
                  <a class="ml-3" id="info">
                    <i title="Informações" class="far fa-question-circle text-primary"></i>
                  </a>
                </div>
              </div>

              {% if form.errors %}
              <p class="container text-center alert alert-danger mt-3">Dados inseridos de forma incorreta, verifique os
                campos e tente novamente!
              </p>
              {% endif %}
              <input type="submit" class="btn btn-primary btn-user btn-block" value="Cadastrar">
              <hr>
              <a href="{% url 'social:begin' 'google-oauth2' %}" title="Efetuar o cadastro usando o Google"
                class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Registre-se com o Google
              </a>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
  //função para visualizar a senha quando clicar no texto
  var senha1 = $('#password1');
  var senha2 = $('#password2');
  var olho = $("#olho");

  olho.mousedown(function () {
    senha1.attr("type", "text");
    senha2.attr("type", "text");
  });

  olho.mouseup(function () {
    senha1.attr("type", "password");
    senha2.attr("type", "password");
  });
  $("#olho").mouseout(function () {
    $("#senha").attr("type", "password");
  });
</script>
<script>

</script>
{% endblock %}