<title>Cadastrar Telefone</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block centro %}
{% if user.is_authenticated %}
<div class="mt-3 container text-center">
    <p style="color: #2369b3; font-size: 30px;">Cadastrar Telefone</p>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="idTipoTelefone">Tipo de Telefone</label>
        <select class="form-control" id="idTipoTelefone" name="idTipoTelefone">
            {% for tipo in tipos %}
            <option value="{{tipo.pk}}" {% if tipo.pk == formEdit.idTipoTelefone.id %} selected="selected" {% endif %}>
                {{ tipo }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="numero">Número de Telefone</label>
        <input type="tel" pattern="^\d{2}\d{4}\d{4}$" class="form-control" id="numero" name="numero"
            placeholder="Digite o número do telefone no formato (DD + numero)" value="{{formEdit.numero}}"
            maxlength="11" required>
   
    </div>

    <div class="d-none">
        <label for="idPessoa">Usuário</label>
        <select class="form-control" id="idPessoa" name="idPessoa">
            <option value="{{user.pk}}">{{ user }}</option>
        </select>
    </div>
    <input type="submit" class="btn " style="background-color: #4613ac; color: white;" value="Salvar">

</form>

{% else %}
{% endif %}
{% endblock %}