<title>Meus Chamados</title>
{% extends "Usuario/index.html" %}

{% block centro %}
{% if user.is_authenticated %}
<div class="mt-3 container text-center">
    <p style="color: #2369b3; font-size: 30px;">Meus Chamados</p>
</div>
<div class="table-responsive-md border">
    <table class="table table-striped ">
        <thead class="text-light thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">RUA</th>
                <th scope="col">NÚMERO DA CASA</th>
                <th scope="col">COMPLEMENTO</th>
                <th scope="col">BAIRRO</th>
                <th scope="col">OBSERVAÇÃO</th>
                <th scope="col">AÇÃO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="#">atualizar</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <button class="btn btn-danger" title="deletar Endereço">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% else %}
<div class="container text-center alert alert-danger mt-3">
    <p class="">Faça o Cadastro ou realize o Login para Continuar!</p>
</div>
{% endif %}
<button class="btn text-light" style="background:#2369b3" title="Cadastrar Novo Endereço">Abrir novo Chamado</button>
{% endblock %}