<title>SoliServ-Meus Dados</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %} Meus Dados{% endblock titulo %}
{% block centro %}
{% if user.is_authenticated %}
{% if dadosUserList %}
{% for user in dadosUserList %}
<form>
    <div class=" container border">
        <div class="container text-center">
            <img class="mt-1 text-center rounded-circle" src="{{ request.session.profile_picture }}" alt=""
                style="width: 150px;">
        </div>
        <div class="mt-3 ">
            <label for="Nome">Nome: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="nome"
                value="{{user.first_name}}">
        </div>


        <div class="mt-3" >
            <label for="SobreNome">SobreNome:</label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="SobreNome"
                value="{{user.last_name}}">
        </div>
        <div class="mt-3">
            <label  for="email">Endereço de e-mail: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.email}}">
        </div>
        <div class="mt-3 mb-5">
            <label for="Email">Usuário: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.username}}">
        </div>
        <div class="container w-30">
            <a class="btn mb-3 w-30 bg-gradient-primary text-white" 
                href="{% url 'atualizarCadastro' user.id %}" title="Atualizar meus dados">
                <i class="fas fa-user-edit"></i>    
                Atualizar Dados
                </a>

            <a class="btn mb-3 w-30 bg-gradient-primary text-white"
                href="{% url 'password_change' %}" title="Alterar Senha">
                <i class="far fa-sync-alt"></i>
                Alterar Senha
            </a>
        </div>
    </div>
</form>
{% endfor %}
{% else %}
{% endif %}
{% endif %}
{% endblock %}