<title>Meus Dados</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block centro %}
{% if user.is_authenticated %}
{% if dadosUserList %}
<div class="mt-3 container ">
    <p style="color: #4613ac; font-size: 30px;">Meus Dados</p>
</div>



{% for user in dadosUserList %}

<div class="border container" style="color: #4613ac; display: flex; flex-direction: column; justify-content: space-around; ">
    <div class="mt-3">
        <label style="text-transform: uppercase;" for="Nome">Nome: </label>
        <input style="text-transform: uppercase;" type="text" class="form-control" disabled  id="nome"
        value="{{user.first_name}}">
    </div>
    <div class="mt-3" style="text-transform: uppercase;">
        <label for="SobreNome">SobreNome:</label>
        <input style="text-transform: uppercase;" type="text" class="form-control" disabled  id="SobreNome"
        value="{{user.last_name}}">
    </div>
    <div class="mt-3">
        <label style="text-transform: uppercase;" for="email">Endereço de E-mail: </label>
        <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
        value="{{user.email}}">
    </div>
    <div class="mt-3 mb-5">
        <label style="text-transform: uppercase;" for="email">usuário: </label>
        <input style="text-transform: uppercase;" type="text" class="form-control" disabled  id="email"
        value="{{user.username}}">
    </div>
    <a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;"
    href="{% url 'atualizarCadastro' user.id %}" title="Atualizar meus dados">Atualizar Dados</a>
</div>

{% endfor %}
{% else %}
{% endif %}
{% endif %}
{% endblock %}