<title>Meus Telefones</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block centro %}
{% if user.is_authenticated %}
{% if telefones_list %}
<div class="mt-3 container ">
    <p style="color: #4613ac; font-size: 30px;">Meus Telefones</p>
</div>
<div class="section-2">
    <div class="mt-3 mb-3 table-holder rounded shadow-sm">

        <table>
            <tr>
                <th>ID</th>
                <th>Numero do Telefone</th>
                <th>Tipo Telefone</th>
                <th>Ação</th>
            </tr>
            {% for telefone in telefones_list %}
            <tr>
                <td>{{telefone.id}}</td>
                <td>{{telefone.numero}}</td>
                <td>{{telefone.idTipoTelefone.descricao}}</td>
                <td>
                    <a class="btn btn-danger" style="color: white;" href="{% url 'telefone_deletar' telefone.id %}" title="Excluir Telefone">
                        Excluir</a>
                    <a class="btn " style="background-color: #4613ac; color: white;" href="{% url 'telefone_atualizar' telefone.id %}"
                        title="Atualizar Telefone">Atualizar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;"
            href="{% url 'cadastroTelefone' %}" title="Cadastrar Telefone">Cadastrar
            Novo Telefone</a>
    </div>
    {% else %}
    <div class="text-center">
        <div class="alert alert-danger mt-5">
            {{ user.first_name }}, Você Não Possui Telefones Cadastrados!
        </div>
        <a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;"
            href="{% url 'cadastroTelefone' %}" title="Cadastrar Telefone">Cadastrar
            Novo Telefone</a>
    </div>

    {% endif %}

    {% endif %}
    <!---<a class="btn btn-primary mb-3 mt-3" href="#">Cadastrar Novo Telefone</a>-->

    {% endblock %}