{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block centro %}
<div class="container text-center mt-5">
    <form method="post">{% csrf_token %}
        <div class="mt-3 container text-center " style="color: #4613ac;">
            <p style="font-size: 30px;">Excluir Meu Telefone</p>
        </div>
        <h6 class="alert alert-danger">Tem certeza que deseja excluir o telefone "{{ object }}"?</h6>
        <input type="submit" title="Excluir Telefone" class="btn mt-3 mb-3" class="btn "
            style="background-color: #4613ac; color: white;" value="Confirmar">
    </form>

</div>

{% endblock%}