<title>SoliServ- Tipos de Chamados</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block centro %}
<main id="Orgao" class="container border">
    <div class="container">
        {% block centroOrgao %}
        <form>
            {% if tipo_chamado_list %}
            <table class="table border mt-3" style="text-transform: uppercase; overflow-x: auto">
                <tr>
                    <th colspan="2"   class=" border text-center" style="color: #4613ac;">Tipos de Chamados</th>
                    <th class="border-left"></th>
                   
                </tr>
                <tr>
                    <th>Descrição</th>
                    <th class="text-center">ORGÂO</th>
                    <th class="text-center">AÇÃO</th>
                </tr>
                {% for tipos in tipo_chamado_list %}
                <tr>
                    <td>    
                        {{tipos.descricaoTipoChamado}}
                    </td>
                    <td class="text-center">    
                        {{tipos.idOrgao.nomeOrgao}}
                    </td>
                    <td class="text-center">
                            <a class="btn" style="background: #4613ac; color: white;"
                            href="{% url 'Chamados:tipo_chamado_atualizar' tipos.id %}" title="Editar Tipo de Chamado">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn btn-danger" style="color: white;"
                            href="{% url 'Chamados:tipo_chamado_deletar' tipos.id %}" title="Excluir Tipo de Chamado">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <div class="alert alert-danger mt-3">
                    Não há Dados Cadastrados!
                </div>
                {% endif %}
        </form>
        </table>
        <nav aria-label="text-left pagination  ">
            <ul class="pagination ">
                {% if tipo_chamado_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" href="?page=1" title="Primeira Página">&laquo;
                        Primeira
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" title="Página Anterior"
                        href="?page={{ tipo_chamado_list.previous_page_number }}">
                        Anterior
                    </a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Página {{ tipo_chamado_list.number }} de {{ tipo_chamado_list.paginator.num_pages }}
                    </a>
                </li>
                {% if tipo_chamado_list.has_next %}
                <li class="page-item">
                    <a class="page-link" style=" color: #4613ac;" title="Próxima Página"
                        href="?page={{ tipo_chamado_list.next_page_number }}">
                        Próxima
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" title="Ultima Página" style=" color: #4613ac;"
                        href="?page={{tipo_chamado_list.paginator.num_pages }}">
                        Última &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <a class="btn  mb-3" href="{% url 'Chamados:cadastro_tipo_chamado'%}" style="background: #4613ac; color: white;"
            title="cadastrar novo Tipo de Chamado">
            Cadastro Tipo de Chamado
        </a>
        <a class="btn  mb-3" href="{% url 'Orgao:orgao_index'%}" style="background: #4613ac; color: white;"
            title="Voltar a HomePage">
            <i class="material-icons">home</i>
        </a>
</main>
{% endblock %}
</div>
{% endblock %}