<title>SoliServ- Atualizar Tipo de Chamado</title>
{% extends 'Orgao/index.html' %}
{% block titulo %}
Atualizar Tipo de Chamado
{% endblock titulo %}
{% block centroOrgao %}
<form  method="POST" class="container">
    {% csrf_token %}
    <div class="form-row">
        <label for="idOrgao">Orgão:</label>
        <select class="form-control" id="idOrgao" name="idOrgao">
            {% for orgao in idOrgao %}
            <option value="{{orgao.pk}}" {% if orgao.pk == formEdit.idOrgao.id %} selected="selected" {% endif %}>
                0{{orgao.pk}} - {{ orgao }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="descricaoTipoChamado">Descrição do Tipo de Chamado:</label>
        <input type="text" class="form-control" id="descricaoTipoChamado" name="descricaoTipoChamado" maxlength="45"
            required {{formEdit.descricaoTipoChamado}} >
    </div>

    <input type="submit" class="btn bg-gradient-primary text-white  mb-3" title="Atualizar Tipo de Chamado"
        value="Atualizar Tipo de Chamado">
    <a class="btn bg-gradient-primary text-white  mb-3" href="{% url 'Chamados:lista_tipo_chamado'%}"
        title="Voltar a Página Anterior"><i class="material-icons">undo</i></a>
</form>
{% endblock %}