<title>SoliServ-Excluir Tipo Chamado</title>
{% extends 'sistemaDeGestaoDeServicosPublicos/index1.html' %}
{% block titulo %}
Remover Tipo de Chamado
{% endblock titulo %}
{% block centro %}
{% block centroOrgao %}
<div class="container text-center mt-5">
    <form method="post">{% csrf_token %}
        <h3 class="text-center"></h3>
        <h6 class="alert alert-danger">Tem certeza que deseja remover "{{ object }}"?</h6>
        <input type="submit" class="btn bg-gradient-danger text-white " value="Confirmar">
        <a class="btn bg-gradient-primary text-white " href="{% url 'Chamados:lista_tipo_chamado'%}"
            title="Voltar a página anterior">
            <i class="material-icons">undo</i>
        </a>
    </form>
</div>
{% endblock %}
{% endblock%}