<title>SoliServ- Chamado detalhado</title>
{% extends 'Orgao/index.html' %}
{% block titulo %}
Detalhes do Chamado n° {{ nProtocolo }}
{% endblock titulo%}
{% block centroOrgao %}
<form method="POST" class="container">
    <div class="form-row mt-5">
        <div class="form-group col-md-3">
            <label for="numeroProtocolo">Protocolo:</label>
            <input type="text" class="form-control bg-danger" style="color: white;" id="numeroProtocolo" name="numeroProtocolo" disabled
                value="{{ nProtocolo }}" />

        </div>
        <div class="form-group col-md-3 ">
            <label for="idOrgao">ÓRGÃO:</label>
            <select class="form-control" id="idOrgao" name="idOrgao" disabled>
                {% for Orgao in idOrgao %}
                <option value="{{Orgao.pk}}" {% if Orgao.pk == formEdit.idOrgao.id %} selected="selected" {% endif %}>
                    {{ Orgao.nomeOrgao }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="idTipoChamado">SERVIÇO:</label>
            <select class="form-control" id="idTipoChamado" style="width: 100%;" name="idTipoChamado" disabled>
                {% for tipoChamado in idTipoChamado %}
                <option value="{{tipoChamado.pk}}" {% if tipoChamado.pk == formEdit.idTipoChamado.id %}
                    selected="selected" {% endif %}>{{ tipoChamado.descricaoTipoChamado }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row mt-2">
        <div class="form-group col-md-3">
            <label for="observacao">Data de Abertura: </label>
            <input type="text" class="form-control" id="observacao" name="observacao" required maxlength="100"
                value="{{ dataAbertura }}" disabled />
        </div>
        <div class="form-group col-md-3">
            <label for="observacao">Data de Conclusão: </label>
            <input type="text" class="form-control" id="observacao" name="observacao" required maxlength="100"
                value="{{ dataConclusao }}" disabled />
        </div>
        <div class="form-group col-md-5">
            <label for="idEndereco">SOLICITANTE:</label>
            <select class="form-control" id="idUsuario" name="idUsuario" disabled>
                {% for usuario in idUsuario %}
                <option value="{{user.pk}}" {% if user.pk == formEdit.idUsuario.id %} selected="selected" {% endif %}>
                    0{{user.id}} - {{user.first_name}} {{user.last_name}}
                </option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div class="form-row mt-2">
        <div class="form-group col-md-8 ">
            <label for="idEndereco">ENDEREÇO:</label>
            <select class="form-control" id="idEndereco" style="width: 100%;" name="idEndereco" disabled>
                {% for endereco in idEndereco %}
                <option value="{{endereco.pk}}" {% if endereco.pk == formEdit.idEndereco.id %} selected="selected"
                    {% endif %}>
                    0{{ endereco.id}} - {{ endereco.cep }}, {{ endereco.logradouro }}, {{ endereco.enderecoNumero}},
                    {{ endereco.bairro }}, {{ endereco.municipio }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="idStatus">STATUS:</label>
            <select class="form-control" id="idStatus" name="idStatus" disabled>
                {% for status in idStatus %}
                <option value="{{status.pk}}" {% if status.pk == formEdit.idStatus.id %} 
                    {% endif %}>
                    0{{status.id}} - {{status.descricao}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-11 mt-2">
            <label for="observacao">Observação:</label>
            <input type="text" class="form-control" id="observacao" name="observacao" required maxlength="100" disabled
                {{formEdit.observacao}}>
        </div>
    </div>
    <div class="form-row border">
        <table class="border w-100">
            
            <thead>
                <tr>
                    <th>Ocorrências do Chamado</th>
                  
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>--</td>
                
                </tr>
            </tbody>
            
        </table>
   
    </div>
    <a class="btn mt-3 mb-3 bg-gradient-primary text-white" href="{% url 'Orgao:lista_chamados_orgao' %}"
    title="Voltar a Página Anterior"><i class="material-icons">undo</i></a>
</form>
{% endblock %}