<title>SoliServ- Chamados Semosp</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Chamados Semosp
{% endblock titulo%}
{% block centro %}
{% if user.is_authenticated %}
<form>
    <div>
        <div>
            <div class="card-body">
                {% if lista_chamados %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>NÚMERO DO PROTOCOLO</th>
                                <th>DATA DE ABERTURA</th>
                                <th>ÚLTIMA MODIFICAÇÃO</th>
                                <th>TIPO DO CHAMADO</th>
                                <th>ENDEREÇO</th>
                                <th>SITUAÇÃO</th>
                                <th>AÇÃO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chamado in lista_chamados %}
                            <tr>
                                <!-- <td>{{chamado.id}}</td> -->
                                <td>{{chamado.numeroProtocolo}}</td>
                                <td>{{chamado.dataAbertura}}</td>
                                {% if chamado.dataConclusao != chamado.dataAbertura %}
                                <td>{{chamado.dataConclusao}}</td>
                                {% else %}
                                <td>{{chamado.dataAbertura}}</td>
                                {% endif %}
                                <td>{{chamado.idTipoChamado.descricaoTipoChamado}}</td>
                                <td>{{chamado.idEndereco}}</td>
                                {% if chamado.idStatus.pk == 1  %}
                                <td class="text-center align-middle"> <small
                                        class="badge badge-info">{{chamado.idStatus.descricao}}</small></td>
                                {% elif chamado.idStatus.pk == 3  %}
                                <td class="text-center align-middle"> <small
                                        class="badge badge-warning">{{chamado.idStatus.descricao}}</small></td>
                                {% elif chamado.idStatus.pk == 2 %}
                                <td class="text-center align-middle"> <small
                                        class="badge badge-success">{{chamado.idStatus.descricao}}</small></td>
                                {% endif %}
                                <td class="border ">
                                 <div class="text-center align-middle">
                                    {% if chamado.idStatus.pk != 3 %}
                                    <a class="bg-gradient-primary btn-circle text-white"
                                        href="{% url 'Orgao:atualizar_chamados_orgao' chamado.id %}"
                                        title="Editar Chamado">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <!-- <a class=" bg-gradient-primary btn-circle text-white"
                                        href="{% url 'Orgao:cadastrar_ocorrencias_chamados' chamado.id%}"
                                        title="Adicionar ocorrências do Chamado">
                                        <i class="material-icons">add_alert</i>
                                    </a> -->
                                    {% else %}

                                    {% endif %}
                                    <a class=" bg-gradient-primary btn-circle text-white"
                                        href="{% url 'Orgao:chamado_detalhado' chamado.id %}"
                                        title="Detalhes do Chamado">
                                        <i class="material-icons">search</i>
                                    </a>
                                 </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class=" mt-1" style="color: #4613ac;"> Obs: Algumas informações cadastradas, são ocultadas para
                        facilitar a
                        compreensão.</p>
                </div>
            </div>
        </div>
    </div>

    <a class="btn mb-3 mt-3 bg-gradient-primary text-white" href="{% url 'Orgao:orgao_index' %}"
        title="Voltar a pagina inicial">
        <i class="material-icons">undo</i>
    </a>
    {% else %}
    <p class="alert alert-danger  text-center">Não há chamados cadastrados!</p>

    </a>
    <a class="btn mb-3 mt-3 bg-gradient-primary text-white" href="{% url 'Orgao:lista_chamados_orgao' %}"
        title="Voltar a Lista de Chamados">
        <i class="material-icons">undo</i>
    </a>
</form>
{% endif %}
{% endif %}
{% endblock %}