<title>SoliServ- Atualizar Status de Chamado</title>
{% extends 'Orgao/index.html' %}
{% block titulo %}
Atualizar Status de Chamado
{% endblock titulo %}
{% block centroOrgao %}
<form method="POST" class="container">
    {% csrf_token %}
    <div class="form-row ">
        <div class="form-group w-100 ">
            <label for="descricao">Descrição do Status:</label>
            <input type="text" class="form-control" id="descricao" name="descricao"
                 maxlength="45" required autofocus {{formEdit.descricao}}>
        </div>
    </div>

    <input type="submit" class="btn bg-gradient-primary text-white  mb-3" title="Cadastrar Status"
        value="Atualizar">
    <a class="btn bg-gradient-primary text-white  mb-3" href="{% url 'Chamados:lista_status_chamado'%}"
        title="Voltar a Página Anterior"><i class="material-icons">undo</i></a>
</form>
{% endblock %}