<title>SoliServ- Cadastrar Status de Chamado</title>
{% extends 'Orgao/index.html' %}
{% block titulo %}
Cadastro Status de Chamado
{% endblock titulo %}
{% block centroOrgao %}
<form method="POST" class="container mt-1">
    {% csrf_token %}
    <div class="form-row ">
        <div class="form-group w-100 ">
            <label for="descricao">Descrição do Status:</label>
            <input type="text" class="form-control" id="descricao" name="descricao"
                placeholder="Descrição do Tipo de Status" maxlength="45" required autofocus>
        </div>
    </div>

    <input type="submit" class="btn bg-gradient-primary text-white mb-3" title="Cadastrar Status"
        value="Cadastrar">
    <a class="btn  mb-3 bg-gradient-primary text-white " href="{% url 'Chamados:lista_status_chamado'%}"
        title="Voltar a Página Anterior"><i class="material-icons">undo</i></a>
</form>
{% endblock %}