{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Excluir Meu Telefone
{% endblock titulo %}
{% block centro %}
<div class="container text-center mt-5">
    <form method="post">{% csrf_token %}
       
        <h6 class="alert alert-danger">Tem certeza que deseja excluir o telefone "{{ object }}"?</h6>
        <input type="submit" title="Excluir Telefone" class="btn mt-3 mb-3 bg-gradient-danger"
            style=" color: white;" value="Confirmar">
    </form>
</div>
{% endblock%}