<title>Meus Telefones</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Meus Telefones
{% endblock titulo %}
{% block centro %}
{% if user.is_authenticated %}
{% if telefones_list %}

<div>
    <div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th  title="Clique para Ordenar ">TELEFONE</th>
                    <th  title="Clique para Ordenar ">TIPO DE TELEFONE</th>
                    <th  title="Clique para Ordenar ">AÇÃO</th>
                  </tr>
                </thead>
                <tbody>
                    {% for telefone in telefones_list %}
                    <tr>
                        <td>{{telefone.numero}}</td>
                        <td>{{telefone.idTipoTelefone.descricao}}</td>
                        <td>
                            <a class="bg-gradient-primary btn-circle mt-2" style="color: white;" href="{% url 'telefone_atualizar' telefone.id %}"
                               title="Editar Telefone">
                               <i class="fas fa-edit"></i>
                            </a>
                            <a  class="btn-danger btn-circle" style="color: white;" href="{% url 'telefone_deletar' telefone.id %}"
                                title="Excluir Telefone">
                                <i class="fas fa-trash"></i>
                            </a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    </div>
    <a class=" btn bg-gradient-primary  ml-2 mb-3 mt-3" style="color: white;" href="{% url 'cadastroTelefone' %}"
        title="Cadastrar Telefone">Cadastrar
        Novo Telefone
    </a>
</div>
{% else %}
<div class="text-center">
    <div class="mt-3 container text-center ">
        <p style="color: #4613ac; font-size: 30px;">Meus Telefones</p>
    </div>
    <div class="alert alert-danger mt-3">
        {{ user.first_name }}, Você Não Possui Telefones Cadastrados!
    </div>
    <a class="btn  ml-2 mb-3 mt-3" style="background-color: #4613ac; color: white;" href="{% url 'cadastroTelefone' %}"
        title="Cadastrar Telefone">Cadastrar
        Novo Telefone
    </a>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<!--<script>
$(document).ready( function () {
    $('#tabela').DataTable();
} );
</script>
{% endblock %}
-->