<title>SoliServ- Atualizar Tipo de Lotação</title>
{% extends 'Orgao/index.html' %}
{% block centroOrgao %}
<form method="POST" class="mt-3">
    <div class="col">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <input type="submit" class="btn mb-2" style="background-color: #4613ac; color: white;" title="Atualizar Dados"
        value="Atualizar Tipo Lotação">
    <a class="btn  mb-2" href="{% url 'Orgao:orgao_index'%}" style="background: #4613ac; color: white;"
        title="Voltar a HomePage"> <i class="material-icons">home</i></a>
</form>
{% endblock %}