:root {
    --tamanho-sidebar: 275px;
    --transicao: .5s ease-in;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 5;
    padding: 0 1em;
    height: 45px;
    position: fixed;
    top: -45px;
    transition: var(--transicao);
    background: #fdfeff;
}

.navbar h1 {
    font-size: 1.5em;
}

.navbar i {
    cursor: pointer;
}

.main {
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    transition: var(--transicao);
    min-height: 100vh;
    width: 100%;
    border: 2px;
}

.sidebar {
    position: fixed;
    width: 100%;
    max-width: var(--tamanho-sidebar);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: .7em;
    height: 100vh;
    transition: var(--transicao);
    left: 0;
    z-index: 4;
    background: #4613ac;
    color: #fff;
}

.sidebar h1 {
    font-size: 1.8em;
    align-self: center;
}

.sidebar nav {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.sidebar p {
    margin: .2em 0;
}

.sidebar a {
    text-decoration: none;
    color: #eee;
    margin: .2em 0;
    margin-left: 1.5em;
    font-weight: 600;
    font-size: .9em;
}

.sidebar a:hover {
    color: #ff6f26;
    text-decoration: none;
}

.content {
    display: flex;
    max-width: calc(100% - var(--tamanho-sidebar));
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    right: 0;
    transition: var(--transicao);
    padding: 1em;
    height: 100%;
}



@media (max-width: 720px) {
    .navbar {
        top: 0;
        box-shadow: 0 5px 5px #0000000e;
    }
    .navbar h1 {
        margin-top: 10px;
    }
    .main {
        top: 45px;
    }
    .sidebar {
        display: fixed;
        max-height: calc(100vh - -45px);
        left: calc(var(--tamanho-sidebar) * -1);
    }
    .sidebar h1 {
        display: none;
    }
    .sidebar nav {
        margin-top: 1em;
    }
    .content {
        max-width: 100%;
    }
  
}
@media(min-width: 1024px) {
    #login, #alterarSenha {
        width: 40%;
        border-radius: 10px;

    }
}

@media (max-width: 768px) {
    #login, #alterarSenha {
        width: 100%;
        border-radius: 10px;
    }

}
.naoMostrarMouse {
    cursor: pointer;
    text-transform: uppercase;
}

.credit {
    position: absolute;
    bottom: 1em;
    color: #eeeeeea2;
    font-size: .8em;
    align-self: center;
}
.link {
    color: black;
}

.link:hover {
    color: #4613ac;
    text-decoration: none;
}

#Orgao{
    display: block;
}
#tituloOrgao{
    background: #4613ac;
    color: white;
    text-align: center;
}

.AcessibilidadeFontes {
    display: flex;
    flex-direction: row;
}

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast a,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast thead,
.contrast td,
.contrast tr,
.contrast tbody,
.contrast span {
    color: white !important;
}

.contrast a {
    color: yellow !important;
}

.contrast button,
.contrast a,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}