<title>SoliServ- Cadastrar Tipo de Lotação</title>
{% extends 'Orgao/index.html' %}
{% block centroOrgao %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="form-group mt-3">
        <label for="descricao">Descrição do Tipo de Lotação:</label>
        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="descrição" maxlength="45" required autofocus>
    </div>
    <input type="submit" style="background: #4613ac; color: white;" class="btn  mb-3" title="Cadastrar Tipo Lotação"
        value="Cadastrar Tipo de Lotação">
        <a class="btn  mb-3" href="{% url 'Orgao:tipos_lotacao'%}"style="background: #4613ac; color: white;" title="Voltar a Página Anterior"><i class="material-icons">undo</i></a>
</form>
{% endblock %}
<!--testando-->