<title>SoliServ- Meus Dados- Semosp</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}
{% block titulo %}
Secretaria Municipal de Obras
{% endblock titulo %}
{% block centro %}
<main id="Orgao" class="container border">
    
    <div class="container">
    {% block centroOrgao %}
    {% if orgao_list %}
    {% for dados in orgao_list %}
    <form>
        <div>
            <div class="mt-3">
                <labelfor="Nome">Nome do Orgão: </label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="nome"
                    value="{{dados.nomeOrgao}}">
            </div>
            <div class="mt-3">
                <label for="nomeOrgao">Descrição do Orgão:</label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="SobreNome"
                    value="{{dados.descricao}}">
            </div>
            <div class="mt-3">
                <label  for="email">E-mail do Orgão: </label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                    value="{{dados.emailOrgao}}">
            </div>
            <div class="mt-3">
                <label  for="email">Responsável pelo Orgão: </label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                    value="{{dados.nomeResponsavelOrgao}}">
            </div>
            <div class="mt-3">
                <label for="email">Endereço do Órgão: </label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                    value="{{dados.enderecoOrgao}}">
            </div>
            <div class="mt-3 mb-5">
                <label  for="email">Telefone do Orgão: </label>
                <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                    value="{{dados.telefoneOrgao}}">
            </div>  
        </div>
        {% if orgao_list == 0 %}
       <a class="btn  mb-3" href="{% url 'Orgao:cadastro_orgao'%}"title="Cadastrar o órgão" style="background: #4613ac; color: white;">Cadastro Orgão</a>
        {% else %} 
        {% endif %}
        <a class="btn  bg-gradient-primary text-white  mb-3" href="{% url 'Orgao:orgao_atualizar' dados.id %}" title="Visualizar os dados do órgão">Atualizar Dados</a>
        <a class="btn   bg-gradient-primary text-white mb-3" href="{% url 'Orgao:orgao_index'%}" title="Voltar a HomePage"><i class="material-icons">home</i></a>
    </form>
    {% endfor %}
    {% endif %} 
    {% endblock %}        
    </div>
</main>
{% endblock %}