<title>SoliServ- Escolhe Vinculo</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %}

{% block titulo %}
Escolher Lotação
{% endblock titulo %}

{% block centro %}
<div class="container">
    <div id="menuOrgao">
        <form action="" method="POST">
                {% csrf_token %}
            <div class="form-group text-center">
                <select class="form-control" id="idOrgao" name="idOrgao">
                    {% for v in userServidor %}
                    <option value="{{v.idOrgao.id}}">{{ v.idOrgao.nomeOrgao }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn bg-gradient-primary text-white mt-3" title="Escolher Lotação"> Escolher<i class="icofont icofont-check-circled"></i></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
