<title>
    LOGIN-SoliServ
</title>
{% extends "sistemaDeGestaoDeServicosPublicos/index1.html" %} {% block centro %}
{% load bootstrap%}

<style>
    @media(max-width: 320px) {
        .form-login {
            width: 100%;
        }
    }
    
    @media(min-width: 1024px) {
        .form-login {
            width: 30%;
        }
    }
</style>
<div  class="mt-3 text-center form-login">
    <div class="text-light" style=" background: #4613ac; ">
        <h1 style="font-size: 1.8em;">LOGIN</h1>
    </div>

    <form class="border-bottom border-left border-right mt-0 border-dark" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        <div class="mt-1 form-group container" title="Insira seu usuário">
            {{ form.username.errors }} {{ form.username | bootstrap}}
        </div>

        
        <div class=" mt-1 form-group container" title="Insira sua senha">
            {{ form.password.errors }} {{ form.password | bootstrap}}

        </div>
        <div  style="width: 90%">
            <a class="" href="#" title="Recuperar a senha" style="text-align:right; text-decoration: underline">
                <p>Esqueci minha senha!</p>
            </a>

        </div>
        {% if form.errors %}
        <p>Usuario ou senha incorretos!</p>
        {% endif %}

        <div class=" submit-row container ">
            <input class="mb-2 mt-3 btn btn-sm btn-block" style="background-color: #4613ac; color: white;" title="Efetuar o login" type="submit" value="Acesso">
            <a href="#" title="Entre com sua conta do Facebook" class="mb-2 zocial  facebook">Facebook</a>
            <a href="#" title="Entre Com sua conta do Google" class="mb-2 zocial  google">Google</a>
        </div>
        
    </form>
    
</div>

{% endblock %}