<title>
    SoliServ-Alterar Senha
</title>
{% extends 'sistemaDeGestaoDeServicosPublicos/index1.html' %}
{% load i18n static %}
{% load bootstrap%}
{% block centro %}

<div class="mt-3 container w-50 text-center">
    <p style="cursor: pointer; color: #4613ac; font-size: 30px;">Alterar Senha</p>
</div>
<div class="container w-50 text-center">

    <form method="post">{% csrf_token %}
        <div class="center">
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Corrija os erros abaixo." %}{% else %}{% trans "Corrija os erros abaixo." %}{% endif %}
            </p>
            {% endif %}


            <fieldset class="">

                <div class="form-group align-right mt-3" style="color: #4613ac;">
                    {{ form.old_password.errors }}
                   <br>{{ form.old_password | bootstrap  }}
                </div>

                <div class="form-group align-right" style="color: #4613ac">
                    {{ form.new_password1.errors }}
                  <br>{{ form.new_password1 | bootstrap }}
                </div>

                <div class="form-group align-right" style="color: #4613ac;">
                    {{ form.new_password2.errors }}
                   <br>{{ form.new_password2 | bootstrap }}
                </div>

            </fieldset>

            <div class=" mb-3">
                <input type="submit" style="background: #4613ac; color: white;" value="{% trans 'Change my password' %}" class="btn">
            </div>

        </div>
    </form>

</div>


{% endblock %}