<title>
    SoliServ-Alterar Senha
</title>
{% extends 'sistemaDeGestaoDeServicosPublicos/index1.html' %}
{% load i18n static %}
{% block centro %}

<div class="container border text-center" id="alterarSenha">
    <form method="post">{% csrf_token %}
        <div class="">
            <p  class="mt-2" style="cursor: pointer; color: #4613ac; font-size: 30px;">Alterar Senha</p>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Corrija os erros abaixo." %}{% else %}{% trans "Corrija os erros abaixo." %}{% endif %}
            </p>
            {% endif %}
            <fieldset class="">
                <div class="form-group mt-3" style="color: #4613ac;">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }}
                    <br>{{ form.old_password   }}
                </div>
                <div class="form-group " style="color: #4613ac">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    <br>{{ form.new_password1  }}
                </div>
                <div class="form-group " style="color: #4613ac;">

                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    <br>{{ form.new_password2 }}
                </div>
            </fieldset>
            <div class="mb-5">
                <input title="Alterar Minha Senha" type="submit" style="background: #4613ac; color: white;" value="{% trans 'Change my password' %}"
                    class="btn">
            </div>
        </div>
    </form>
</div>
{% endblock %}